<div id="games">
    @foreach (Game game in Collection.Games!)
    {
        <GameDisplay Game="game"></GameDisplay>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public Collection Collection { get; set; } = default!;
}