@using GgdbNet.Models

<div id="games">
    @foreach (Game game in Games)
    {
        <GameDisplay Game="game"></GameDisplay>
    }
</div>

@code {

    [Parameter, EditorRequired]
    public IReadOnlyList<Game> Games { get; set; } = default!;

}